<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355675444318-eptshlbirbslgdbksopt1anbbbqiv185.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355675444318-eptshlbirbslgdbksopt1anbbbqiv185</string>
	<key>API_KEY</key>
	<string>AIzaSyD23swwV0eAzxtDgXMvfL3XqOL1z8hu9iw</string>
	<key>GCM_SENDER_ID</key>
	<string>355675444318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ricardochairez.PokePicker</string>
	<key>PROJECT_ID</key>
	<string>pokepicker-3574b</string>
	<key>STORAGE_BUCKET</key>
	<string>pokepicker-3574b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355675444318:ios:22add09da52c1bd63c50cf</string>
</dict>
</plist>